body {
    background-color: lightskyblue;
}

li button {
    margin-left: 10px;
    cursor: pointer;
}
li {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.todo-filter, .todo-sort {
    padding: 1em;
    background-color: lightcoral;

}

.stat {
    padding: 0.75em 1em;
    background-color: lightcoral;
    margin-bottom: 10px;
}

.no-todos{
    background-color: aliceblue;
    text-align: center;
    padding: 1em;
}